{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      {% if user.profile.profile_picture.url %}
      <img class="profile_picture"
         src="{{ user.profile.profile_picture.url }}" style="height: 20vh; width:20vh;" alt="">
         {% else %}
        <img class="profile_picture"
           src="https://res.cloudinary.com/dbos9xidr/image/upload/v1626854682/zvtfufhexa8lqqqgcdt3.png" style="height: 20vh; width:20vh;" alt="">
           {% endif %}

        <p class="">{{user.username}}</p>
        <p class="">{{user.profile.bio}}</p>
        <a href="{% url 'update_profile' %}">
          <button class="btn btn-success">Update Details</button>
        </a>
        <p class="">{{user_posts|length}} posts</p>
      </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}