@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Yatra+One&family=Zen+Tokyo+Zoo&display=swap');
.navbar {
  margin-bottom:5rem;
  background-color: rgb(14, 58, 52);
  color:white;
}
body {
  background-color: #bae6b9;
}
.profile_picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.text-muted {
  color: #A1BFA0 !important;
}
.forms, .panel {
  padding: 5px;
  background-color: rgb(14, 58, 52) !important;
  border-radius: 5px;
  color: #FED401;
}
.nav-link{
  color: white !important;
}
.neighborhood {
  margin-bottom: 2rem;
  background-color: #A1BFA0;
  padding: 2rem;
}
.buttons {
  margin-bottom: 3rem;
}
.header {
  background-color: #a4dda4;
}
.my-neighborhood {
  color: #FED401;
}
.my-neighborhood:hover {
  color: white;
  text-decoration: none;
}
@media screen and (max-width:766px) {
  .form-inline>.form-control,.btn {
    margin-bottom: 1rem !important;
  }
  
}